

@import url('https://fonts.googleapis.com/css2?family=Codystar:wght@300;400&display=swap');



* {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh !important;
}

h1{
    font-size: 50px;
}

.main_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    line-height: 100vh;
}

.main_game .row {
    display: flex;
    
    gap: 10px;
}

button {
    border: none !important;
    border-radius: 3px;
    background-color: rgb(230, 220, 220) !important;
    height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: 50px;
    font-family: "Codystar", sans-serif !important;
    font-weight: 900;
    color: black !important;


}

button:hover {
    background-color: rgb(223, 201, 201) !important;
    box-shadow: rgba(0, 0, 0, 0.336) 0px 2px 4px 0px inset;
}


#reset-btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 100px;
    width: 300px;
    line-height: 100px;
    background-color: rgb(153, 73, 73) !important;
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif  !important;
    
}
#reset-btn:hover{
background-color:brown !important;
}



