@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/back.jpg');
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100vh !important;
}

.game_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: calc(15px + 5vw);
    font-family: "Bungee Spice", sans-serif;
}

.main_game {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    line-height: 100vh;
}

.main_game .row {
    display: flex;
    gap: 10px;
}

button {
    border: none !important;
    border-radius: 3px;
    background-color: rgb(194, 153, 153) !important;
    height: 100px;
    line-height: 100px;
    width: 100px;
    cursor: pointer;
    font-size: calc(72px + 1vw);
    font-family: "Winky Sans", sans-serif;
    font-weight: 500;
    color: black !important;
}

button:hover {
    background-color: rgb(143, 179, 78) !important;
    box-shadow: rgba(0, 0, 0, 0.336) 0px 2px 4px 0px inset;
}

#reset-btn,
#new-game {
    font-size: calc(35px + 1vw) !important;
    font-family: "Winky Sans", sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    height: 100px;
    width: 300px;
    line-height: 100px;
    background-color: rgb(153, 73, 73) !important;
    color: aliceblue !important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
}

#reset-btn:hover {
    background-color: brown !important;
}

#new-game {

    background-color: rgb(58, 153, 95) !important;
    display: none;
}

#new-game:hover {
    background-color: rgb(14, 110, 46) !important;
}

.winner {
    font-size: calc(56px + 2vw);
    font-weight: 500;
    font-family: "Winky Sans", sans-serif;
    padding: 75px 25px;
    display: none;
    border: 3px dashed black;
    text-align: center;
}